/* Font: Cantarell */
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Variables */
:root {
  --header-bg-cloudy: #59516e;
  --header-bg-night: #022d50;
  --header-bg-sunny: #005986;
  --body-bg-cloudy: linear-gradient(180deg, #59516e 0%, #fff 100%);
  --body-bg-night: linear-gradient(180deg, #022d50 0%, #13588b 100%);
  --body-bg-sunny: linear-gradient(180deg, #005986 0%, #fff 100%);
  --text-default: #2b2b2b;
}

/* Global styles */
html {
  box-sizing: border-box;
  font-family: 'Cantarell', 'cursive', system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  /* CSS Reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Catch errors */
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ul,
li {
  list-style: none;
}

button.my-location,
button.celsius,
button.fahrenheit,
.slider-container button.prev,
.slider-container button.next {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-default);
}

body.sunny {
  background: var(--body-bg-sunny);
}

body.cloudy {
  background: var(--body-bg-cloudy);
}

body.night {
  background: var(--body-bg-night);
}

/* Header */
body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 48px;
  color: #fff;
  height: 82px;
  width: 100%;
}

body.sunny > header {
  background: var(--header-bg-sunny);
}

body.cloudy > header {
  background: var(--header-bg-cloudy);
}

body.night > header {
  background: var(--header-bg-night);
}

/** Header Logo **/

header > .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.logo > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  min-width: 168px;
  outline: none;
}

/** Header SearchBox **/

header > .search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box > input[type='text'] {
  height: 30px;
  border: none;
  outline: none;
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 20px;
  padding: 5px 36px;
  text-align: center;
  color: #fff;
  width: 380px;
  transition: all 0.3s ease-in-out;
}

.search-box > input[type='text']:focus {
  outline: 5px auto #fff;
}

.search-box > input[type='text']::placeholder {
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.search-box > input[type='text']:focus::placeholder {
  opacity: 0;
}

.search-box > .my-location {
  position: absolute;
  right: 6px;
  top: 2.5px;
  width: 24px;
  height: 24px;
}

/* Header Unit Switcher */

header > .unit-switcher {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.unit-switcher > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 3px 16px;
  border-radius: 20px;
  background: #fff;
  color: #000;
  transition: background-color 0.3s ease-in-out;
}

.unit-switcher > button.celsius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.unit-switcher > button.fahrenheit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.unit-switcher > button.active {
  background: hsla(0, 0%, 100%, 0.2);
  color: #fff;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  margin-top: 32px;
  width: 100%;
}

main section.summary,
main section.today-details,
main section.today-forecast,
main section.hourly-forecast {
  width: 65%;
}

/** Main Summary **/

section.summary {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: stretch;
}

/*** Summary Current Conditions ***/

.summary__current-conditions {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 5px rgba(23, 36, 50, 0.5);
}

body.sunny .summary__current-conditions {
  background-image: url('./assets/sunny-sky-bg.webp');
}

body.cloudy .summary__current-conditions {
  background-image: url('./assets/cloudy-sky-bg.webp');
}

body.night .summary__current-conditions {
  background-image: url('./assets/night-sky-bg.webp');
}

/***** Summary Current Conditions Header ***/

.current-conditions__header {
  padding: 10px 16px;
  background-color: rgba(0, 0, 0, 0.55);
}

.current-conditions__header__info {
  font-size: 1.125rem;
}

.current-conditions__header__info .location {
  font-size: 1.25rem;
  font-weight: 700;
}

/*** Summary Current Conditions Info ***/

.current-conditions__info {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.current-conditions__info > .temperature {
  font-size: 6rem;
  margin-bottom: -16px;
}

.current-conditions__info > .icon {
  position: absolute;
  right: 260px;
  top: 40px;
}

.current-conditions__info > .description,
.current-conditions__info > .high-low {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 8px;
}

.high-low .separator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  margin-bottom: 4px;
}

/*** Summary Air Quality Index ***/

.summary__air-quality-index {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #fff;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 16px;
}

.air-quality-index__header {
  font-size: 1.25rem;
  font-weight: 700;
}

.air-quality-index__severity {
  display: flex;
  gap: 24px;
  padding-left: 10px;
}

svg.donut-chart {
  border-radius: 50%;
}

svg.donut-chart circle.donut-chart-track {
  fill: transparent;
  stroke: #e7ecf1;
}

.donut-chart-indicator {
  fill: transparent;
  transition: stroke-dasharray 0.3s ease;
}

.donut-chart-inner-value {
  color: #2b2b2b;
  font-size: 2.25rem;
  font-weight: 200;
}

.severity__text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 10px;
}

.severity__text .title {
  font-size: 1.125rem;
  line-height: 1.25;
}

.severity__text .description {
  font-size: 0.875rem;
  line-height: 1.25;
  color: #6f7585;
}

/** Main {Today Details, Today Forecast, Hourly Forecast} **/
.today-details,
.today-forecast,
.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

/** Main {Today Details, Today Forecast, Hourly Forecast} Header **/

.today-details__header,
.today-forecast__header,
.hourly-forecast__header {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
}

/*** Today Details Info ***/

.today-details__info {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.today-details__info .feels-like .temperature {
  font-size: 3.5rem;
  font-weight: 600;
}

.today-details__info .sunrise-sunset {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sunrise-sunset .sunrise,
.sunrise-sunset .sunset {
  display: flex;
  align-items: center;
  gap: 4px;
}

/*** Today Details Info List ***/

.today-details__info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 16px;
  grid-auto-flow: column;
}

.info-list__list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-top: 1px solid #dedede;
}

.info-list__list-item:last-of-type {
  padding-bottom: 0;
}

.info-list__list-item .value {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/** Main {Today Forecast, Hourly Forecast} **/

.today-forecast__forecast-list,
.hourly-forecast__forecast-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  padding-top: 16px;
}

.forecast-list__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 16px;
  border-right: 1px solid #dedede;
  border-image: linear-gradient(
      180deg,
      hsla(0, 0%, 87.1%, 0) 0,
      #dedede 25%,
      #dedede 70%,
      hsla(0, 0%, 87.1%, 0) 85%,
      hsla(0, 0%, 87.1%, 0)
    )
    1 100%;
}

.forecast-list__list-item:last-of-type {
  border-right: none;
}

.forecast-list__list-item .time,
.forecast-list__list-item .chance-of-rain {
  font-size: 1.125rem;
  line-height: 1.5;
  color: #2b2b2b;
  text-align: center;
}

.forecast-list__list-item.current .time,
.forecast-list__list-item.current .temperature,
.forecast-list__list-item.current .chance-of-rain {
  font-weight: 700;
}

.forecast-list__list-item .temperature {
  font-size: 2.25rem;
  line-height: 0.83;
  color: #1b4de4;
}

.forecast-list__list-item .icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forecast-list__list-item .chance-of-rain {
  display: flex;
  align-items: center;
  gap: 8px;
}

/** Main Hourly Forecast Slider **/

.slider-container {
  position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
  height: 100%;
  color: var(--text-default);
  font-size: 40px;
  transition: 0.6s ease;
  text-align: center;
  user-select: none;
}

.prev {
  left: -10px;
}

.next {
  right: -10px;
}

.prev:not(.disabled):hover,
.next:not(.disabled):hover {
  transform: scale(1.1);
}

.prev.disabled,
.next.disabled {
  color: #ccc;
}
